<ion-header>
  <ion-toolbar>
    <ion-title>
      Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <h1>Ana Cebanubias</h1>
  <ion-list>
    <ion-item>
      Contact Info: (352)-267-2772 , ana@gmail.com

    </ion-item>
  </ion-list>
  
</ion-card>

<ion-card>
  <h1>Moises Bautista </h1>
  <ion-list>
    <ion-item>
      Contact Info: (343)-897-1802 , mobo@gmail.com

    </ion-item>
  </ion-list>
</ion-card>

<ion-card>
    <h1>Minchul Kim</h1>
    <ion-list>
      <ion-item>
        Contact Info: (782)-191-9467 , Miiin@gmail.com
      </ion-item>
    </ion-list>
  
</ion-card>
    
</ion-content>
